<p>
    <mat-toolbar>
        <span [routerLink]="['/feature/home']">Deck My Cards</span>
        <button mat-button color="primary" [routerLink]="['/feature/home']" routerLinkActive="active">Home</button>
        <button mat-button color="primary" [routerLink]="['/feature/deck']" routerLinkActive="active">Deck</button>
        <button mat-button color="primary" [routerLink]="['/feature/game']" routerLinkActive="active">Game</button>
        <span class="example-spacer"></span>
        <button mat-button color="primary" [routerLink]="['feature/about']" routerLinkActive="active">About</button>
    </mat-toolbar>
</p>